[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aiohttp = "*"
marshmallow = "*"
alembic = "*"
psycopg2-binary = "*"
asyncpg = "*"

[requires]
python_version = "3.8"
